<!--
show cat's attributes in a table
 -->
<table>

  <tr>
    <td>Attribute</td><td>Value</td>
  </tr>

  <tr>
    <td>Name</td><td> <%= @cat.name %> </td>
  </tr>

  <tr>
    <td>Age</td><td> <%= @cat.age %> </td>
  </tr>

  <tr>
    <td>Birth Date</td><td> <%= @cat.birth_date %> </td>
  </tr>

  <tr>
    <td>Shade</td><td> <%= @cat.color %> </td>
  </tr>

  <tr>
    <td>Gender</td><td> <%= @cat.sex %> </td>
  </tr>

  <tr>
    <td>Description</td><td> <%= @cat.description %> </td>
  </tr>

</table>
